/* Xbox Playstation Button - Start Page */

.ps-btn,
.xbx-btn {
	display: flex;
	height: 100%;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
	transition: background-color 0.4s, font-size 0.3s, width 0.4s, display 0.3s,
		transform 1s 2s;
}

.ps-btn:hover {
	background-color: #0070d1;
	font-size: 3rem;
}

.xbx-btn:hover {
	background-color: #107c10;
	font-size: 3rem;
}

/* Display none class */

.hide {
	display: none;
}

/* After click btn width 100%*/

.from-left-to-right {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #107c10;
	font-size: 3rem;
}

.from-right-to-left {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #0070d1;
	font-size: 3rem;
}

.to-main-page-animation {
	transform: translateY(-200%);
}

/* Text Hiding */

@keyframes hidingText {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* burger-btn - Nav*/
.burger-btn {
	position: fixed;
	justify-self: flex-end;
	top: 10px;
	right: 10px;
	background: none;
	font-size: 3.6rem;
	color: #0070d1;
	cursor: pointer;
	z-index: 99999;
	transition: transform 0.3s;
}

.burger-btn:active {
	transform: scale(0.8);
}

nav a:hover .underline-span {
	background-color: #ddd;
}

/* Nav items animation */

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

/* Nav item bouttons */

.nav__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: scale(0);
	transition: transform 0.3s;
}

.nav__item:hover::before {
	border-left: 4px solid #0070d1;
	transform: scale(1);
}

/* Game Blocks */

.games-section__game {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 300px;
	margin: 20px 20px;
	background-color: #fff;
	color: var(--playstationFontColor);
	border: 2px solid var(--playstationFontColor);
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	cursor: pointer;
	overflow: hidden;
	transition: transform 0.3s;
}

.games-section__game:hover {
	transform: scale(1.1);
}

.game__img {
	height: 40%;
	width: 100%;
	background-image: url("../img/playstation/ps-header/horizon-wallpaper.gif");
	background-size: cover;
	background-position: center;
}

.game__title {
	text-align: center;
	margin: 10px 0;
	font-size: 2.5rem;
}

.game__description {
	padding: 0.1em 2em;
	font-size: 1.6em;
}

/* Background image - game section */

#bloodborne {
	background-image: url("../img/playstation/game-section/bloodborne.jpg");
}

#days-gone {
	background-image: url("../img/playstation/game-section/days_gone.jpg");
}

#death-stranding {
	background-image: url("../img/playstation/game-section/death_stranding.jpg");
}

#demon-souls {
	background-image: url("../img/playstation/game-section/demon_souls.jpg");
}

#final-fantasy {
	background-image: url("../img/playstation/game-section/final_fantasy_7_remake.jpg");
}

#ghost-of-tsushima {
	background-image: url("../img/playstation/game-section/ghost_of_tsushima.jpg");
}

#god-of-war {
	background-image: url("../img/playstation/game-section/god_of_war.jpg");
}

#horizon {
	background-image: url("../img/playstation/game-section/horizon.jpg");
}

#infamous-second-son {
	background-image: url("../img/playstation/game-section/infamous.jpg");
}

#killzone {
	background-image: url("../img/playstation/game-section/killzone.jpg");
}

#spider-man {
	background-image: url("../img/playstation/game-section/spider_man.jpg");
}

#spider-man-miles {
	background-image: url("../img/playstation/game-section/morales.png");
}

#persona {
	background-image: url("../img/playstation/game-section/persona.jpg");
}

#ratchet-and-clank {
	background-image: url("../img/playstation/game-section/rachet_and_clank.jpg");
}

#ratchet-and-clank-rift-apart {
	background-image: url("../img/playstation/game-section/rachet_and_clank_rift_apart.jpg");
}

#little-big-planet {
	background-image: url("../img/playstation/game-section/little_big_planet.jpg");
}

#shadow-of-the-colossus {
	background-image: url("../img/playstation/game-section/shadow_of_the_colossus.png");
}

#the_last_of_us {
	background-image: url("../img/playstation/game-section/the_last_of_us.jpg");
}

#the_last_of_us_part2 {
	background-image: url("../img/playstation/game-section/the_last_of_us_part_2.jpg");
}

#uncharted4 {
	background-image: url("../img/playstation/game-section/uncharted.jpg");
}

/* Console section buttons */

.console-section__console-ps4,
.console-section__console-ps5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	margin-right: 0.4em;
	border: 2px solid var(--playstationFontColor);
	border-radius: 25px;
	background-image: url("../img/playstation/console-section/ps4.jpg");
	background-size: cover;
	background-position-x: 60%;
	transition: width 0.3s, scale 1s;
	cursor: pointer;
}

.ps4__title,
.ps5__title {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 5rem;
}
.ps4__title p,
.ps5__title p {
	padding: 0.5em 0.7em;
}

.console-section__console-ps5 {
	margin-left: 0.4em;
	margin-right: 0;
	background-image: url("../img/playstation/console-section/ps5.jpg");
}

.console-section__console-ps4:hover,
.console-section__console-ps5:hover {
	width: 100%;
}
.console-section__console-ps4:active,
.console-section__console-ps5:active {
	transform: scale(1.1);
}
